<div class="container">
  <div class="cards">
    <div class="row">
      <%@flats.each do |flat| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path flat.photo, height: 280, width: 400, crop: :fill %>')">
            <div class="card-description">
              <h2><%= link_to flat.title, flat_path(flat) %></h2>
              <p>Address: <%= flat.address %> | Rooms: <%= flat.number_of_rooms %></p>
            </div>
            <p class="card-price"><%= number_to_currency(flat.price,unit: "€",precision: 0, format: "%n %u", delimiter: ".") %></p>
          </div>
          <div class="actions-container">
            <div class="edit-card">
              <p><%= link_to edit_flat_path(flat) do %>
                <i class="fas fa-edit"></i>
                <% end %>
              </p>
              <p><%= link_to flat_path(flat),
                method: :delete,
                data: { confirm: "Are you sure?" } do  %>
                  <i class="fas fa-trash-alt"></i>
                  <% end %>
                  </p>
            </div>
            <% if flat.appointments.where(status: "Pending").count > 0 %>
              <div class="status-card red">
                <p><%= link_to "Pending appointments: #{flat.appointments.where(status: "Pending").count}", flat_path(flat) %>
                </p>
              </div>
            <% else  %>
              <div class="status-card">
                <p><%= link_to "Pending appointments: #{flat.appointments.where(status: "Pending").count}", flat_path(flat) %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      <%end%>
    </div>
  </div>


<%= link_to "Add a new flat", new_flat_path, class: "btn btn-success padding" %>





<h1>My appointments</h1>

<%@user.appointments.each do |appointment| %>

<ul>

 <li><%= link_to Flat.where(id: appointment.flat_id).first.title, flat_path(Flat.where(id: appointment.flat_id).first) %></li>

  <li><%= appointment.status %></li>

<li><%=appointment.time%></li>

  <li><%=appointment.date%></li>

  <li><%= link_to "Delete appointment", flat_appointment_path(appointment.flat, appointment),

     method: :delete,

     data: { confirm: "Are you sure?" } %></li>

</ul>

<% end %>
</div>

