<div class="body">
  <div class="cards">
    <div class="row">
      <%@flats.each do |flat| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path flat.photo, height: 300, width: 400, crop: :fill %>')">
            <div class="card-description">
              <h2><%= link_to flat.title, flat_path(flat) %></h2>
              <p>Address: <%= flat.address %> | Rooms: <%= flat.number_of_rooms %></p>
               <p><%= link_to "Edit flat", edit_flat_path(flat) %></p>
                <p><%= link_to "Delete flat", flat_path(flat),
     method: :delete,
     data: { confirm: "Are you sure?" } %>
            </div>
            <p class="card-category"><%= flat.price %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<p><%= link_to "Add a new flat", new_flat_path %></p>




<h1> My appointmentsssss</h1>
<%@user.appointments.each do |appointment| %>
<ul>
 <li><%= link_to Flat.where(id: appointment.flat_id).first.title, flat_path(Flat.where(id: appointment.flat_id).first) %></li>
  <li><%= appointment.status %></li>
<li><%=appointment.time%></li>
  <li><%=appointment.date%></li>
  <li><%= link_to "Delete appointment", flat_appointment_path(appointment.flat, appointment),
     method: :delete,
     data: { confirm: "Are you sure?" } %></li>
</ul>
<% end %>
