<%= simple_form_for [@flat] do |f| %>
  <%= f.input :title %>
  <%= f.input :address, :input_html => {
        :id => "flat_address"
      } %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :number_of_rooms %>
  <%= f.submit "Edit", class: "btn btn-primary" %>
<% end %>
<p><%= link_to "Back to flats list", flats_path %></p>
