<div class="flat-container">
  <div class="flat-image">
    <%= cl_image_tag @flat.photo, height: 200, width: 300, crop: :fill %>
  </div>
  <div class="flat-details">
      <div class="flat-title">
        <p><strong><%=@flat.title.capitalize%></strong></p>
        <p class ="flat-description"><%=@flat.description%></p>
      </div>
      <div class="flat-address">
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>Address: <%= @flat.address %> | Rooms: <%= @flat.number_of_rooms %></p>
      </div>
  </div>
  <div class="flat-price">
      <h6>Price: </h6>
      <p>€<%=@flat.price%></p>
  </div>
</div>

<% if !params[:format].nil? %>
<%= link_to "Back to the search", flats_path(query:{address: params[:format]}), class:"btn btn-primary" %>
<% end  %>



<%@appointments.each do |appointment| %>
<ul>
  <li><%=appointment.time%></li>
  <li><%=appointment.date%></li>
  <li><%=appointment.status%></li>
</ul>
<% end %>



</div>
