<div class="flat-container">
  <div class="flat-image">
    <%= cl_image_tag @flat.photo, height: 200, width: 300, crop: :fill %>
  </div>
  <div class="flat-details">
      <div class="flat-title">
        <p><strong><%=@flat.title.capitalize%></strong></p>
        <p class ="flat-description"><%=@flat.description%></p>
      </div>
      <div class="flat-address">
        <br>
        <br>
        <p>Address: <%= @flat.address %> | Rooms: <%= @flat.number_of_rooms %></p>
      </div>
  </div>
  <div class="flat-price">
      <h6>Price: </h6>
      <p>€<%=@flat.price%></p>
  </div>
</div>

<% if !params[:format].nil? %>
<%= link_to "Back to the search", flats_path(query:{address: params[:format]}), class:"btn btn-primary" %>
<% end  %>
<p></p>

<% if @flat.user != current_user %>
<%= link_to "Add an appointment", new_flat_appointment_path(params[:id]), class:"btn btn-primary" %>
<p></p>
<% end %>

<% if @flat.user == current_user %>
<h3>Appointmentss</h3>




<%@appointments.each do |appointment| %>
<ul>
  <li><%= User.where(id: appointment.user_id).first.email %></li>
  <li><%=appointment.time%></li>
  <li><%=appointment.date%></li>
  <li>
  <div class="dropdown">
      <p data-toggle="dropdown"><%=appointment.status%></p>
        <ul class="dropdown-menu">
   <li><%= link_to "Make pending", flat_path(appointment.flat, [appointment.id, "Pending"]) %> </li>
   <li><%= link_to "Accept it", flat_path(appointment.flat, [appointment.id, "Approved"]) %> </li>
   <li><%= link_to "Reject it", flat_path(appointment.flat, [appointment.id, "Rejected"]) %> </li>
   </ul>
      </div>
  </li>

    <li><%= link_to "Delete appointment", flat_appointment_path(appointment.flat, appointment),
     method: :delete,
     data: { confirm: "Are you sure?" } %></li>
</ul>



<% end %>
<% end %>


</div>


