<ul>
    <li><%= flat.title %></li>
    <li><%= flat.price %></li>
    <li><%= flat.address %></li>
    <li><%= flat.number_of_rooms %></li>
    <li><%= flat.description %></li>
</ul>
<p><%= link_to "Back to the list of flats", flats_path %></p>
