<div class="container">
<div class="flat-container">
  <div class="flat-information">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="flat-image">
        <%= cl_image_tag @flat.photo, height: 200, width: 300, crop: :fill%>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="flat-details">
        <div class="flat-title">
          <h2><strong><%=@flat.title.capitalize%></strong></h2>
          <p><%=@flat.description%></p>
        </div>
        <div class="flat-address">
          <p>Address: <%= @flat.address %> | Rooms: <%= @flat.number_of_rooms %></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
     <div class="flat-price">
      <div class="price-info">
      <p><%=number_to_currency(@flat.price,unit: "€",precision: 0, format: "%n %u", delimiter: ".")%></p>
    </div>
    </div>
  </div>
  </div>
</div>


<% if !params[:format].nil? %>
<% if params[:format].split("/").size != 2%>
<%= link_to "Back to the search", flats_path(query:{address: params[:format]}), class:"btn btn-primary btn-orange" %>
<% end  %>
<% end %>

<p></p>








<% if @flat.user == current_user %>
<h3>Appointmentss</h3>


<%@appointments.each do |appointment| %>
<ul>
  <li><%= User.where(id: appointment.user_id).first.email %></li>
  <li><%=appointment.date%></li>
  <li>
  <div class="dropdown">
      <p data-toggle="dropdown"><%=appointment.status%></p>
        <ul class="dropdown-menu">
   <li><%= link_to "Make pending", flat_path(appointment.flat, [appointment.id, "Pending"]) %> </li>
   <li><%= link_to "Accept it", flat_path(appointment.flat, [appointment.id, "Approved"]) %> </li>
   <li><%= link_to "Reject it", flat_path(appointment.flat, [appointment.id, "Rejected"]) %> </li>
   </ul>
      </div>
  </li>

    <li><%= link_to "Delete appointment", flat_appointment_path(appointment.flat, appointment),
     method: :delete,
     data: { confirm: "Are you sure?" } %></li>
</ul>

<% end %>
<% end %>

<% if @flat.user != current_user %>

  <div class="calendar" style="width: 400px; margin: 0 auto;">
    <h2>Add an appointment</h2>

    <%= simple_form_for [@flat, @appointment] do |f| %>
      <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :time, as: :string, required: false, input_html: {class: "timepicker"} %>
      <%= f.button :submit, "Add", class: "btn btn-success center-block" %>
    <% end %>
  </div>

<% end %>
