<html>
<head>
  <meta charset="utf-8">
  <title>Basic info</title>

  <!-- Google fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700">

  <!-- Fontawesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Your style -->
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="home-page"></div>
  <div class="homepage-container">

    <div class="hero-content">

      <div class="display-table">
        <div class="display-table-cell vertical-middle align-center">

          <h1 class="hero-strapline">Search properties for sale!</h1>


                <%= simple_form_for :query, method: :get, url: flats_path do |f| %>
                <%= f.input :address, label: false, placeholder: "Location", :input_html => { :id => "flat_address"} %>
                <div class="row"></div>

                <div class="form-group form-inline center-block">
                  <%= f.input :min_price, label: false, placeholder: "Min. Price" %>
                  <%= f.input :max_price, label: false, placeholder: "Max. Price" %>
                </div>

          <span><%= f.submit "Search", class: "btn btn-primary center-block" %></span>
          <% end %>

          <div class="pos-rel">
            <ul id="typeaheadList" class="type-ahead-list"></ul>

          </div>
        </div>
      </div>
    </div>




        <div class="cards-container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="homepage-card" style="background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1523531294919-4bcd7c65e216?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=20c4a4adf9bec9372a3d35e95b1d0eab&auto=format&fit=crop&w=800&q=60')">

                        <%=  link_to "Barcelona",  flats_path(query:{address: "Barcelona, Catalunya, Spain/0/100000000//"}), class:"btn-medium" %>



                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="homepage-card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1539037116277-4db20889f2d4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f54fb1a766ab8a09c10b3a0ab62727f3&auto=format&fit=crop&w=1500&q=80')">

                       <%=  link_to "Madrid",  flats_path(query:{address: "Madrid, Comunidad de Madrid, Spain/0/100000000//"}), class:"btn-medium" %>


                        <!-- <a href="http://localhost:3000/flats?utf8=%E2%9C%93&query%5Baddress%5D=Madrid%2C+Comunidad+de+Madrid%2C+Spain&query%5Bprice%5D=&commit=Search" class="btn-medium">Madrid</a> -->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="homepage-card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1542115015-16997067a9f4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f33f266e30636177c46d49941e0b0b56&auto=format&fit=crop&w=1336&q=80')">

                       <%=  link_to "Seville",  flats_path(query:{address: "Seville, Andalucía, Spain/0/100000000//"}), class:"btn-medium" %>

                       <!--  <a href="http://localhost:3000/flats?utf8=%E2%9C%93&query%5Baddress%5D=Seville%2C+Andaluc%C3%ADa%2C+Spain&query%5Bprice%5D=&commit=Search" class="btn-medium">Seville</a> -->
                    </div>
                </div>
            </div>
        </div>



  </body>
  </html>

