<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
-->
<html>
<head>
  <meta charset="utf-8">
  <title>Basic info</title>

  <!-- Google fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700">

  <!-- Fontawesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Your style -->
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="home-page"></div>
  <div class="container">

    <div class="hero-content">

      <div class="display-table">
        <div class="display-table-cell vertical-middle align-center">

            <h1 class="hero-strapline">Search properties for sale!</h1>

                <%= simple_form_for :query, method: :get, url: flats_path do |f| %>
                <%= f.input :address, label: false, placeholder: "Location", :input_html => { :id => "flat_address"} %>
                <div class="row"></div>

                <div class="form-group form-inline center-block">
                  <%= f.input :min_price, label: false, placeholder: "Min. Price" %>
                  <%= f.input :max_price, label: false, placeholder: "Max. Price" %>
                </div>

                <span><%= f.submit "Search", class: "btn btn-primary center-block" %></span>
            <% end %>

        <div class="pos-rel">
            <ul id="typeaheadList" class="type-ahead-list"></ul>

        </div>
      </div>
    </div>
  </div>


 </body>
</html>

