
<h5> Your appointment is the <%= params[:appointment][:time] %></h5>

<%= simple_form_for [@appointment.flat, @appointment] do |f| %>
  <%= f.input :date  %>
  <%= f.input :time %>
  <%= f.submit "Confirm appointment", class: "btn btn-primary" %>
<% end %>



